<header>
  <h1>Calcul empreinte carbone</h1>
  <nav>
    <ul>
      <li>
        <a
          mat-button
          routerLink="/profile"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Voir mon profile</a
        >
      </li>
      <li>
        <a
          mat-button
          routerLink="/carbon-footprint"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Caculer mes emissions carbone</a
        >
      </li>
    </ul>
    @if(username()){
    <p>Bienvenu {{ username() }}</p>
    }
  </nav>
</header>
