h1 {
  margin: 0;
}

header {
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul,
header nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

header li {
  list-style: none;
}
