@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}
body {
  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-container {
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap-16-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.outlined-container {
  padding: 8px 16px;

  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 6px;
}

form {
  width: 300px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
form.centered {
  min-width: 50%;
  padding: 0;
  padding-bottom: 16px;
}

.field-error {
  font-size: small;
  color: red;
}

mat-chip.warning {
  background-color: rgba(226, 21, 21, 0.829) !important;
  .mdc-evolution-chip__text-label {
    color: white !important;
  }
  ::before {
    border: none !important;
  }
}

mat-chip.success {
  background-color: rgb(68, 219, 80) !important;
  .mdc-evolution-chip__text-label {
    color: white !important;
  }
  ::before {
    border: none !important;
  }
}
